<div class="d-none d-sm-block">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary rounded">
    <span class="navbar-brand" routerLink="kiRameneKoi">
      <img src="https://firebasestorage.googleapis.com/v0/b/cousinade-project.appspot.com/o/c-programming.png?alt=media&token=0ecb7179-3fc5-4d4e-806c-616a55ac9cc8" width="30" height="30">
      Cousinade v1</span>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="kiRameneKoi">KirameneKoi</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="place">Lieu</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="activities">Activités</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active" *ngIf="isAuth">
        <a class="nav-link" (click)="onSignOut()" style="cursor:pointer;">
          <span class="oi oi-account-login"></span> Déconnexion</a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="!isAuth">
        <a class="nav-link" *ngIf="!isAuth" routerLink="auth/signin">Connexion</a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="!isAuth">
        <a class="nav-link" routerLink="auth/signup">Créer un compte</a>
      </li>
    </ul>
  </nav>
</div>

<div class="d-sm-none">
  <nav class="nav flex-column navbar-dark bg-primary">
    <a class="nav-link" routerLink="kiRameneKoi" style="color:white;">KirameneKoi</a>
    <a class="nav-link" routerLink="place" style="color:white;">Lieu</a>
    <a class="nav-link" routerLink="activities" style="color:white;">Activités</a>
    <a class="nav-link" (click)="onSignOut()" style="cursor:pointer; color:white;" *ngIf="isAuth">
      <span class="oi oi-account-login"></span> Déconnexion</a>
    <a class="nav-link" *ngIf="!isAuth" routerLink="auth/signin" style="color:white;">Connexion</a>
    <a class="nav-link" routerLink="auth/signup" style="color:white;" *ngIf="!isAuth">Créer un compte</a>
  </nav>
</div>